body{
  margin:0;
  padding:0;
  background-color: #fff;
  font-family: 'Nunito Sans', sans-serif;

}
a{
  text-decoration:none;
}
a:hover{
  text-decoration: none;
}
.lsit-item{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.circle-box {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
}
.data-picker .css-12qs7hp-MuiInputBase-input-MuiOutlinedInput-input{
  padding:8.5px 14px!important;
}
@keyframes sub-menu {
  0%{
      width:0%;
  }
  100%{
      width: 100%;
  }
  
}
.slick-slide .slick-active{
  width:200px!important;
}
.css-4hqtrk-MuiButtonBase-root-MuiButton-root{
  background:#143e6b;
  color:#fff;
}